[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

True

In [ ]:
import nltk
nltk.download('vader_lexicon')
from nltk.sentiment.vader import SentimentIntensityAnalyzer
SIA = SentimentIntensityAnalyzer()
review0 = "the manager is good and friendly"

print(review0, SIA.polarity_scores(review0))

review1 = "The training was very worst"

print(review1, SIA.polarity_scores(review1))

the manager is good and friendly {'neg': 0.0, 'neu': 0.396, 'pos': 0.604, 'compound': 0.7269}
The training was very worst {'neg': 0.523, 'neu': 0.477, 'pos': 0.0, 'compound': -0.659}

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...

In [ ]:
import textblob
review1 = "really fun work environment with startup"
print("polarity of sentiment:",textblob.TextBlob(review1).sentiment.polarity)
print("subjectivity of sentiment:",textblob.TextBlob(review1).sentiment.subjectivity)

polarity of sentiment: 0.3
subjectivity of sentiment: 0.2

In [ ]:
review1 = "This training was very worst"
print("polarity of sentiment:",textblob.TextBlob(review1).sentiment.polarity)
print("subjectivity of sentiment:",textblob.TextBlob(review1).sentiment.subjectivity)

polarity of sentiment: -1.0
subjectivity of sentiment: 1.0

In [ ]:
for pos_review in pos:
  print("polarity of sentiment:",textblob.TextBlob(pos_review).sentiment.polarity)
  print("subjectivity of sentiment:",textblob.TextBlob(pos_review).sentiment.subjectivity)

NameError: ignored

In [ ]:
pos

                                           positives
0                      People are smart and friendly
1  1) Food, food, food. 15+ cafes on main campus ...
2  * If you're a software engineer, you're among ...
3  You can't find a more well-regarded company th...
4             Impact driven. Best tech in the world.
5                  The people are great to work with
6     The people are great to work with, good perks.
7  Good managers, benefits , some support, nice a...
8           Really fun work environment with startup
9                 Awesome job environment to work in

In [ ]:
df = pd.DataFrame([["ABC", "XYZ"]], columns=["Foo", "Bar"])
with pd.ExcelWriter("path_to_file.xlsx") as writer:
    df.to_excel(writer)

In [ ]:
df

   Foo  Bar
0  ABC  XYZ

In [ ]:
import pandas as pd

dict1 = {"number of storage arrays": 45, "number of ports":2390}

df = pd.DataFrame(data=dict1, index=[0])

df = (df.T)

print (df)

df.to_excel('dict1.xlsx')

                             0
number of storage arrays    45
number of ports           2390